<main class="container">
    <% if (msg.length !== 0) { %>
        <div class="alert alert-success mt-3" role="alert">
            <%= msg %>
        </div>
    <% } %>
    <div class="my-3 p-3 shadow-lg p-3 mb-5 rounded">
        <div class="d-flex justify-content-between align-items-center mb-2 border-bottom">
            <h6 class=" pb-2 mb-0">Contact List 🚀</h6>
            <a href="/contact/add" class="badge text-bg-success mb-2" style="text-decoration: none;">Add</a>
        </div>
        <% if (contacts.length === 0) { %>
            <tr>
                <td colspan="4">
                    <div class="alert alert-danger mt-4" role="alert">
                        Contact Not Found
                    </div>
                </td>
            </tr>
        <% } %>
        <% contacts.forEach((contact, i) => {i++ %>
        <div class="d-flex text-body-secondary pt-3 ">
            <img src="img/img-<%= i %>.jpg" alt="" class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                <strong class="text-gray-dark" style="text-transform: capitalize;"><%= contact.firstName %>  <%= contact.lastName %></strong>
                <a href="/contact/<%= contact.firstName %>">Show Detail</a>
                </div>
                <span class="d-block mt-2"><%= contact.number %></span>
            </div>
        </div>
        <% }) %>
    </div>
</main>