<main class="container mt-5 ">
    <% if (!contact) { %>
        <div class="alert alert-danger mt-4" role="alert">
            Contact Not Found <a href="/contact" class="alert-link">Back to Contact</a>
        </div>
    <% } else { %>
    <div class="bg-body-tertiary p-5 shadow-lg p-3 mb-5 rounded">
        <h1 class="mb-4" style="text-transform: capitalize;"><%= contact.firstName %>  <%= contact.lastName %></h1>
        <p class="lead">Number : <strong><%= contact.number %></strong></p>
        <p class="lead">Email : <strong><%= contact.email %></strong></p>
        <p class="lead">Address : <strong><%= contact.address %></strong></p>
        <a href="/contact/delete/<%= contact.firstName %>" class="badge bg-danger" style="text-decoration: none;" onclick="return confirm('Sure want delete to this Contact?')">Delete</a>
        <a href="/contact/edit/<%= contact.firstName %>" class="badge bg-warning text-dark" style="text-decoration: none;">Edit</a>
        <a href="/contact" class="float-end">Back to List Contacts &raquo;</a>
    </div>
    <% } %>
</main>